/* header */
header{
    padding: 1.5rem 0;
}
header a{
    scale: 1.05;
}
header a:hover{
    scale: 1.1;
    text-decoration-line: underline;
    text-decoration-color: var(--yellow);
    text-decoration-thickness: 0.25rem;
}

/* CTA */
#home{
    background-color: var(--green);
    margin-bottom: 110px;
}
.title-text{
    font-size: 64px;
    line-height: 64px;
    font-weight: 500;
    letter-spacing: -0.05rem;
    color: var(--yellow);
    margin-bottom: 0;
}
.subtitle-text{
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -0.05rem;
    color: #fff;
    line-height: 40px;
}
.description-text{
    font-size: 18px;
    color: #fff;
}
.book-btn{
    padding: 1rem 2.5rem;
    border-radius: var(--rounded);
    background-color: var(--yellow);
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    box-shadow: 0 0 1px #000;
}
.cta-btn:hover{
    background-color: #fff;
    color: var(--green);
    font-weight: 700;
}
.cta-img{
    margin-bottom: -100px;
}


/* Specials */
.card-img-top img {
    height: 250px;
    object-fit: cover;
}


/* testimonials */
#testimonials{
    background: #fbdabb url('./little-lemon-assets/images_assets/asset.png') no-repeat top center;
}
.review-img-container{
    object-fit: cover;
}
.review-img-container img{
    border-radius: 50%;
    height: 90px;
    width: 60px;
}
.testimonial-text{
    text-shadow: 0 1px 1px #000;
}


/* about */
#about{
    padding: 4rem 0rem;
    background: #edefee;
}
#about h1{
    font-weight: bold;
    color: var(--green);
}
.restaurant-img-container{
    background: url('./little-lemon-assets/images_assets/asset.png') no-repeat bottom left;
    background-size: 75px;
}
#about img{
    max-width: 230px;
    height: 250px;
    box-shadow: 1px 3px 3px 5px rgb(49, 26, 26);
}
.restaurantChef{
    margin-left: 100px;
    margin-top: -100px;
}
.restaurantChef img{
    border-radius: var(--rounded);
}
.restaurant img{
    border-radius: var(--rounded);
}
